<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>email</title>
	<link rel="stylesheet" href="compiled/style.min.css">
</head>
<body>
	<div class="email-background">
		<div class="pre-header">
			Please confirm your email by clicking the button in this email
		</div>
		<div class="email-container">
			<h1>Welcome to HyperDraft</h1>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum perferendis necessitatibus exercitationem, cupiditate hic adipisci reprehenderit doloremque laborum quos. Itaque!</p>

			<a class="button" href="{{confirmationLink}}">Confirm Email</a>
			<small>or click this <a href="#">link</a></small>
		</div>
	</div>
</body>
</html>